<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999082995167-nbvteij4evqr37a4hmb8nibu6llvq7v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999082995167-nbvteij4evqr37a4hmb8nibu6llvq7v5</string>
	<key>API_KEY</key>
	<string>AIzaSyBiZ9qNRpssp4zOiasbTAYeRZxz9vxsB5o</string>
	<key>GCM_SENDER_ID</key>
	<string>999082995167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appBlocAuth</string>
	<key>PROJECT_ID</key>
	<string>app-bloc-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>app-bloc-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999082995167:ios:f50c9f55da0df6e25a286a</string>
</dict>
</plist>